body {
    background-color: rgba(114, 198, 219, 0.432);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 { color: #2c3e50; }

dt {
    font-weight: bold;
    color: #555;
    margin-top: 5px;
}

/* Print Logic */
@media print {
  
    body * {
        visibility: hidden;
    }

    
    #orderSummary, #orderSummary * {
        visibility: visible;
    }

    #orderSummary {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border: 1px solid #eee;
        box-shadow: none;
    }

   
    #btnPrint {
        display: none !important;
    }
}